<div class="container">

  <form [formGroup]="form" (ngSubmit)="save($event)">
    <div class="form-group">
      <label for=""> Tipo Documento</label>
      <ng-select
        [items]="documentsType"
        bindValue="type"
        bindLabel="description"
        formControlName="documentType"
        [class.is-danger]="form.get('documentType').dirty && form.get('documentType').invalid"
      >
      </ng-select>
      <small id="type" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="documentNumber"> Numero Documento</label>
      <input type="text" class="form-control" id="documentNumber" placeholder="Numero Documento"
             formControlName="documentNumber">
      <small id="number" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="email"> Correo Electronico</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo Electronico">
      <small id="email-small" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="email"> Telefono</label>
      <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Telefono">
      <small id="phone-small" class="form-text text-muted"></small>
    </div>

    <div class="">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
    </div>

  </form>
</div>


